<mat-card>
    <mat-card-title>Confirmar Exclusão do Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Codigo do Cliente"  type="number"
                [value]="client.CodigoCliente" name="CodigoProduto">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Nome Cliente"
                [value]="client.Nome" name="Nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CPF"
                [value]="client.CPF" name="CPF">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Sexo"
                [value]="client.Sexo" name="Sexo">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email"
                [value]="client.Email" name="Email">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteClient()" color="primary">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

